.errorPage{
    margin: 10rem auto;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.errorPage h1{
    font-size: 8vw;
    margin: 0;
    font-weight: 900;
    color: #bb2525;
}
.errorPage h2{
    font-size: 1.5rem;
    text-transform: capitalize;
}